/*
*  CSS TABLE OF CONTENTS
*   
*  0.0 - Variables
*  1.0 - Reset
*  2.0 - Body
*  3.0 - App
*    3.1 - Structure
*    3.2 - Navbar
*    3.3 - Grid
*    3.4 - Card
*  4.0 - Empty App
*  5.0 - Media Queries
*/

/*** 0.0 - Variables ***/
:root {
    /* Colors */
    --color-background-light: #ecfcff;
    --color-primary-light: #b2fcff;
    --color-primary-hover: #3edbf0;
    --color-primary-dark: #5edfff;
    --color-background-dark: #3e64ff;
    --color-white: #e3e8e8;
    --color-black: #2e3838;
  
    /* Border */
    --radius: 0.5rem;
}

/*** 1.0 - Reset ***/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height:100%;
    margin: 0;
    padding: 0;
}

/*** 2.0 - Body ***/
body {
    font-family: Arial, sans-serif;
    color: var(--color-black);
    background-color: var(--color-background-light);
}

/*** 3.0 - App ***/
/*** 3.1 - Structure ***
* The app has the navbar sticked to the bottom
* in mobile size and sticked to the left otherwise.
*/
.app {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background-light);
    height: 100%;
    overflow: hidden;
}

/*-- navbar area --*/
.app__nav {
    flex: 10%;
    order: -1;
    display: flex; 
}

/*-- main area --*/
.app__main {
    flex: 90%;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

/*** 3.2 - Navbar ***
* custom navbars.
*/
/*** 3.2.1 - Simple navbar ***
* This is a simple navbar with no sub-menu.
*/
.navbar-simple .navbar__list {
    border-radius: var(--radius);
    background: var(--color-primary-light);
    box-shadow: 1px 0px .1rem var(--color-primary-dark);
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 100vh;
    width: auto;
    min-width: 5rem;
}
  
.navbar-simple .navbar__item {
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.navbar-simple .navbar__item img {
    /*fill: var(--color-primary-dark);*/
    width: 2rem;
    transition: all 200ms ease-in;
}

.navbar-simple .navbar__item img:hover {
    /*fill: var(--color-primary-hover);*/
}

.navbar-simple .navbar__item a {
    color: var(--color-black);
    text-decoration: none;
}

.navbar-simple .navbar__item a:hover {
    color: var(--color-primary-hover);
}

/*** 3.2.2 - Navbar with sub-menu ***
* This is a simple navbar with potential sub-menus.
*/

/* EMPTY */

/*** 3.3 - Grid ***/


/*-- GRID --*/
.grid-container {
    width: 100%;
    display: flex;
    /*justify-content: start;*/
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .25rem;
}
  
.grid-item-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}
  
.grid-item-wrapper:before {
    content: '';
    display: table;
    padding-top: 100%;
}
  
.grid-item {
    flex-grow: 1;
    display: flex;
}

.card {
    width: 200px;
    height: 300px;
    padding: .5rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
}

.card:hover:before {
    opacity: .75;
}

.card:hover .info-content {
    opacity: .75;
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card > img {
    padding: .5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info-content {
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.info-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top {
    height: 5vh;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
}

.right {
    display: inline-flex;
}

.left img,
.right img {
    display: block;
}

.left img:hover,
.right img:hover {
    background: rgb(237, 239, 241);
}

.bottom {
    height: 5vh;
    padding: 1vh 2vw;
    text-align: center;
}

.card .bottom h3 {
    margin: 0px;
    letter-spacing: 1px;
    font-size: 15px;
}

/*** 4.0 - Empty App ***/
.app__placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*** 5.0 - Media Queries ***/
@media screen and (max-width: 550px) {
    /*** 3.1 - Structure ***/
    .app {
        flex-direction: column;
    }

    /*-- navbar area --*/
    .app__nav {
        flex: 0;
        order: 0;
    }

    /*-- main area --*/
    .app__main {
        flex: 80%;
    }

    /*** 3.2 - Navbar ***/
    .navbar-simple .navbar__list {
        box-shadow: 0px -1px .1rem var(--color-primary-dark);
        flex-direction: row;
        width: 100vw;
        min-height: 5rem;
        height: auto;
        padding: 1rem;
    }
}